*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------------
    Mobile
*/

section {
    padding: 10px;
}

figure {
    margin-bottom: 10px;
}

figure img { 
    display: table; /* contournement */
    width: 100%;
}

/* ---------------------------------------------
    MIN 768

    section en display flex 
    figure réparties sur 2 colonnes
*/


@media (min-width:768px) {

    section {
        padding: 10px 0;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    figure {
        width: 48%;
    }
}


/* ---------------------------------------------
    MIN 992

    figure réparties sur 3 colonnes
*/


@media (min-width:992px) {

    section {
        padding: 10px 0;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    figure {
        width: 32%;
    }
}