* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background: rgb(18, 18, 18);
    background: radial-gradient(circle, rgba(18, 18, 18, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(193, 193, 193, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 0) 100%);
    perspective:1000px;
}

/* 
    phase 1 : 
        le cube et ses faces empilées dans .cube
        la perspective
        affichage 3d du cube 
        aspect carré des img
*/

.cube {
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
    /* pour le test de l'outil de rotation de l'inspecteur */
    /* transform: rotatey(-60deg) rotateX(25deg); */
    transform-style: preserve-3d;

    
}

.face {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* backface-visibility: hidden; */
}

.face img {
    width: 100%;
    aspect-ratio: 1/1;
}

/* 
    Phase 2 
        décalage sur l'axe des Z des face front et back
        tester avec l'inspecteur la rotation du cube
        tester  backface-visibility
*/

.face-front { transform: translateZ(250px);}
.face-back { transform: translateZ(-250px) rotatey(180deg);}
.face-right { transform: translateX(250px) rotatey(90deg);}
.face-left { transform: translateX(-250px) rotatey(-90deg);}
.face-top { transform: translateY(-250px) rotatex(90deg);}
.face-bottom { transform: translateY(250px) rotatex(-90deg);}


/* 
    Phase 3 

        Animation en rotation sur les axes x et y
        ON trouve vite les limites du css

        On aurait besoinde js pour controller la rotation 

*/

.cube {
    /* animation: rotation 10s linear infinite ; */
    transition: 1s;
}

@keyframes rotation {

    0% {
        transform: rotatey(0deg) rotateX(45deg);
    }

    25% {
        transform: rotatey(90deg) rotateX(0deg);
    }

    50% {
        transform: rotatey(180deg) rotateX(-35deg);
    }

    75% {
        transform: rotatey(270deg) rotateX(0deg);
    }

    100% {
        transform: rotatey(360deg) rotateX(45deg);
    }
    
}