@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* reset des marges et espaces par défaut */
* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #efefef;
}

.main-container {
    /* parent de freepik qui est en absolute */
    position: relative; 
    display: flex;
    width: 900px;
    height: 450px;
    background:white;
    background-image: url(./data/SVG/dotted-line.svg);
    background-position: -48px -48px;
}

/* tous les enfants de 1er niveau de .main-container
.main-container > *  
*/

.box-textes,
.box-illustration {
    width: 50%;
    height: 100%;
}

.box-textes { 
   display: flex;
   flex-direction: column; 
   justify-content: center;
   align-items: center;
}

.sstitre {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color:rgb(18, 116, 80);
}

.sstitre:nth-of-type(2){
    margin-bottom: 10px;
}

.titre {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    font-weight: normal;
    line-height: 0.8;
    margin-bottom: 20px;
    color:rgb(16, 179, 119);
}

.texte{
    text-align: center;
    /* padding: 0 25px 0 25px; */
    width: 78%;
    font-family: sans-serif;
    margin-bottom: 10px;
}


.box-illustration {  
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-illustration img {
    width: 96%;
}


.btn-more {
    padding: 10px 20px;
    border-radius: 100px;
    background-color: rgb(16, 179, 119);
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 500;
}

.freepik {
    position: absolute;
    bottom: -20px; right: 0;
}